/.allowed-licenses export-ignore
/.docker/ export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/bin/ export-ignore
/build/ export-ignore
/captainhook.json export-ignore
/CHANGELOG.md export-ignore
/compose.yaml export-ignore
/docs/ export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/psalm-baseline.xml export-ignore
/psalm.xml export-ignore
/rector.php export-ignore
/resources/ export-ignore
/SECURITY.md export-ignore
/tests/ export-ignore
/UPGRADE.md export-ignore
